*~
/*.tmproj
/.idea/.generators
/.idea/.name
/.idea/.rakeTasks
/.idea/bewo-kompakt.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/*
/.capistrano/*
/.ruby-gemset
/.ruby-version
*.rbc
*.sassc
.rvmrc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/nbproject/*
/tmp/*
/db/*.sqlite3
/db/page.git/*
/db/csv/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
config/database.yml
.DS_Store
.byebug_history
